body {
    background-color: #8f5fe8;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    background: url("/bb.jfif");
    background-size: cover;
}

h1 {
    text-align: center;
    color: black;
}

h3 {
    color: #000000;
}

canvas {
    border: 1px solid black;
    height: 400px;
}

* {
    text-align: center;
    text-decoration: none;
}